// custom variables
$warning: #ffa630;
$dark: #121420;
$light: #f2efea;
$navbar-dark-color: #ffa630;
$navbar-dark-hover-color: #ffc880;
$text-dark: $dark;

h1,
h2,
h3 {
  font-family: "Iceland", Courier, monospace;
}

.thumbnail {
  width: 180px;
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//.carousel-inner > .carousel-item > img {
//  max-height: 50vh;
//  width: 100%;
// }
